#map-container{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    position: absolute;

    #top-bar{
        background: white;
        position: fixed;
        color: #0b1560;
        width: 20%;
        top: 10px;
        left: 20px;
        height: 80px;
        padding: 10px;
        z-index: 999;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        
      h3{
        margin: 10px;
      }

      p{
        margin: 0px;
      }

      p img{
        width: 60%;
      }

    }

}
