.raisedButton {
  padding: 10px;
  background-color: #0d1973;
  width: 100% !important;
  color: white;
  border-color: transparent;
  font-size: 1.5em;
  font-family: "Raleway";
  margin-bottom: 30px;
  height: 50px !important;
  border-radius: 10px;
}

.raisedButton a {
    text-decoration: none;
    color: white;
}

.raisedButton:hover {
  background-color: white;
  color: #0d1973;
  border-color: #0d1973;
}

.raisedButton:hover a{
  color: #0d1973;
}

.logo {
  height: 7em;
  margin-left: -40px;
  margin-top: 20px;
  margin-bottom: -20px;
}

.tileStyle {
  margin-left: 5px;
  margin-right: 5px;
}

h1 {
  margin:0;
  margin-bottom: 20px;
  font-size: 1.5em
}
