.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

#top-bar{
  background: white;
  position: fixed;
  color: #0b1560;
  width: 20%;
  top: 10px;
  left: 20px;
  height: 80px;
  padding: 10px;
  z-index: 999;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#top-bar h3{
  margin: 10px;
}

#top-bar p{
  margin: 0px;
}

#top-bar p img{
  width: 60%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.title{
  text-align: center;
  background: none;
}
